@background: #202020;

@themeBackground: #202020;
@themeForeground: #b3b9c5;
@themeAccent: #303030;
// @themeDarkBorder: darken(@background, 3%);

:root {
  --text-color: #b3b9c5;
  --link-color: #81a5f8;
  --background-color: #202020;
}

:global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body.theme-dark {
    color: var(--text-color);
    background-color: var(--background-color);
    a[href^="http"] {
      color: var(--link-color);
      border-bottom: none;
      background: transparent;
      text-decoration: none;
      &:hover {
        color: var(--link-color);
        background: none;
        border-bottom: 2px solid var(--link-color);
      }
    }

    a[href^="/"] {
      color: var(--dark-text-color);
      &:hover {
        color: var(--dark-text-color);
        background: none;
      }
    }
  }

  .ui-section {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
